services:
  postgres:
    image: postgres:15
    container_name: services_db
    environment:
      POSTGRES_DB: recipe
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: ../backend
      dockerfile: Dockerfile
    container_name: recipe_backend
    depends_on:
      - postgres
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/recipe
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
    networks:
      - appnet

  frontend:
      build:
        context: ../frontend
        dockerfile: Dockerfile
      container_name: recipe_frontend
      ports:
        - "3000:3000"
      depends_on:
        - backend
      networks:
        - appnet

networks:
  appnet:

volumes:
  postgres_data: