
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding-top: 170px;
    margin: auto;
}

.FormContainer{
    display: flex;
    justify-content: center;
    width: 100%;
}

.formBody{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
}

.HeaderText{
    text-align: center;
    background: linear-gradient(to bottom, #4a4681, #38bdf8);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-bottom:40px;
}

.submitButton{
    background: linear-gradient(to bottom, #4a4681, #38bdf8);
    transition: color,
    transform 120ms ease;
    height: 40px;
    border-radius: 8px;
}

.submitButton:hover{
    color:#38bdf8;
    transform: scale(1.03);
}


.textInput{
    width: 500px;
    height: 40px;
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
}

.redirectAuthLink{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}