@import "tailwindcss";

html {
    font-size: 16px;
}

@media (max-width: 1200px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 900px) {
    html {
        font-size: 12px;
    }
}

@media (max-width: 600px) {
    html {
        font-size: 10px;
    }
}

@media (max-width: 400px) {
    html {
        font-size: 8px;
    }
}

body {
    background-color: cornsilk;
}